.parent {
    width: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 0px;
    grid-template-columns: 29% 29% 29%;
    grid-template-areas: "CheeseDeveloper" "CheeseProgrammer" "CheeseProfessional";
    }

#CheeseDeveloper {
    background-color: #0D3B66;
    color: #FAF0CA;
    grid-area: CheeseDeveloper;
}

#CheeseProgrammer {
    background-color: #FAF0CA;
    color: #0D3B66;
    grid-area: CheeseProgrammer;
}

#CheeseProfessional {
    background-color: #F4D35E;
    color: #FAF0CA;
    grid-area: CheeseProfessional;
}

.auntuncle {
    width: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 0px;
    grid-template-columns: 30% 30% 30%;
    grid-template-area: "work1 work2 work3"
                        "work4 work5 work6";
    }