.parent {
    display: grid;
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 0px;
    grid-template-columns: 30% 30% 30%;
    grid-template-areas: "CheeseDeveloper" "CheeseProgrammer" "CheeseProfessional";
    }

#CheeseDeveloper {
    background-color: #0D3B66;
    color: #FAF0CA;
}

#CheeseProgrammer {
    background-color: #FAF0CA;
    color: #0D3B66;
}

#CheeseProfessional {
    background-color: #FAF0CA;
    color: #F4D35E;
}

